<style>
    * {
        box-sizing: border-box
    }

    .skill-section-title{
        flex: 100%;
        font-weight: bold;
        padding-top: 0.75rem;;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;

    }

    .skill {
        width: 100%;
        padding: 1rem;
        flex: 50%;
        
    }

    .bar-container {
        width: 100%;
        background-color: #ddd;
        font-size: small;
    }

    .skills {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: #112f41;
    }
    .skill-os{
        flex: 33%;
        padding: 1rem;
    }

    .mid-high-proficient {
        width: 75%;
        
    }

    .mid-proficient{
        width: 60%;
    }

    .full-proficient{
        width:100%;
    }

</style>



<div class="skills-container">
    <p class="skill-section-title">Programming Languages</p>
    
    <div class="skill">
        <div class="bar-container">
            <div class="skills mid-high-proficient"> C# / .Net </div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills mid-high-proficient" style="width: 78%;"> SQL </div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills " style="width: 65%;"> Python </div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills mid-high-proficient" style="width: 90%;">HTML</div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills mid-high-proficient" style="width: 73%;">CSS</div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills " style="width: 80%;" >Javscript </div>
        </div>
    </div>



    <p class="skill-section-title">Software</p>
    
    <div class="skill">
        <div class="bar-container">
            <div class="skills " style="width: 100%;"> Microsoft Office Suite </div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills " style="width: 85%;"> Visual Studio </div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills " style="width: 70%;"> Git </div>
        </div>
    </div>

    <div class="skill">
        <div class="bar-container">
            <div class="skills " style="width: 100%;"> Github </div>
        </div>
    </div>


    <p class="skill-section-title">Operating Systems</p>
    
    <div class="skill-os">
        <div class="bar-container">
            <div class="skills " style="width: 96%;"> Windows 10 </div>
        </div>
    </div>

    <div class="skill-os">
        <div class="bar-container">
            <div class="skills " style="width: 80%;"> Mac </div>
        </div>
    </div>

    <div class="skill-os">
        <div class="bar-container">
            <div class="skills " style="width: 80%;"> Linux </div>
        </div>
    </div>

    <p class="skill-section-title">Technical</p>
    
    <div class="skill-os">
        <div class="bar-container">
            <div class="skills " style="width: 65%;"> Network Administration </div>
        </div>
    </div>

    <div class="skill-os">
        <div class="bar-container">
            <div class="skills " style="width: 90%;"> PC Building </div>
        </div>
    </div>

    <div class="skill-os">
        <div class="bar-container">
            <div class="skills" style="width: 80%;"> Hardware Repair/Replacement </div>
        </div>
    </div>
</div>